
/* Global Settings */

* {
      margin: 0;
      padding: 0;
    }
    
    html {
        scroll-behavior: smooth;
        transition: all ease-in .4s;
    }
    
    body {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Roboto Condensed', sans-serif;
        font-size: 18px;
        color: #333;
    }
    
    div {
        margin: 0;
        padding: 0;
    }
    
    h1, h2, h3, h4 {
        font-family: 'Roboto Condensed', sans-serif;
        line-height: 70px;
        padding: 0;
        margin: 0;
    }
    
    p {
        margin: 0;
        padding: 0;
        line-height: 25px;
    }
    
    ul {
        margin: 0;
        padding: 0;
    }
    
    li {
        list-style: none;
    }
    
    a {
        text-decoration: none;
        color: #333;
    }
    
    /* RE-USABLE STYLES */
    
    .container {
        width: 90%;
        margin: 0 auto;
        padding: 40px 0px;
    }
    
    .text-center {
        text-align: center;
    }
    
    .btn {
        padding: 20px 40px;
        border: none;
        border-radius: 5px;
    }




.header {
      width: 100%;
      height: 100vh;
      background-image: linear-gradient(to bottom, rgba(0,0,0, .2), rgba(0,0,0, 0.1)), url("./images/backgrounds/hero.jpg");
      background-repeat: no-repeat;
      background-position: top;
      background-size: cover;
      position: relative;
}

.navbar-expand-lg{
      background-color: transparent;
}

.nav {
      width: 90%;
      display: flex;
      justify-content: space-between;
      align-items: center;
}

.nav-items {
      display: flex;
      align-items: center;
}

.nav-items li {
      margin-right: 50px;
      font-size: 24px;
}

.nav-items li a {
      color: white;
}

/* HERO SECTION */
.hero {
      color: white;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
}

.hero-intro {
      font-size: 64px;
      margin-bottom: 40px;
}

.hero-content {
      width: 620px;
      margin: 0 auto;
      font-size: 24px;
      line-height: 30px;
}

/* Mouse Scroller */
.scroller {
      position: absolute;
      left: 50%;
      top: 90%;
      cursor: pointer;
      animation: bounce 1.5s infinite;
}

@keyframes bounce {
      50% {
            top: 92%;
      }

      75% {
            top: 95%;
      }


}

/* Filter Products Section */
.form-filter {
      width: 100%;
      padding: 20px 0px;
      background-color: #b9b189;
}

.filter-wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
}

fieldset {
      display: flex;
      justify-content: center;
      align-items: center;
}

.input {
      margin-right: 30px;
      align-items: center;
      font-size: 22px;
      font-weight: 600;
}

.checkbox {
      font-size: 20px;
      width: 25px;
      height: 25px;
      border: 2px solid #fcdbb2;
      border-radius: 5px;
      margin-right: 20px;
}

.checkbox:active{
      background-color: white;
      color: #fcdbb2;
}

.filter-btn {
      padding: 15px 30px;
      font-size: 22px;
      background-color: darkred;
      border-radius: 5px;
      border: none;
      color: white;
      text-transform: uppercase;
}

/* Products Display Section */

.product-section-title {
      font-size: 24px;
      text-transform: uppercase;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 80px;
}

.title-hr {
      width: 85%;
     border: 1px solid #333;
}

/* Product Card */
.products-wrapper {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      position: relative;
}

.products-scroll {
      position: absolute;
      top: -40px;
      right: 20px;
      display: flex;
      gap: 10px;
      text-align: center;
}

.left {
      font-size: 22px;
      color: #726e5c;
      cursor: pointer;
}

.right {
      font-size: 22px;
      color: #726e5c;
      cursor: pointer;
}

.product-card {
      width: 400px;
      height: 430px;
      background-color: #d6d6d6;
      border-radius: 5px;
      position: relative;
      margin-bottom: 20px;
      padding: 20px;
      cursor: pointer;
      transition: all ease-in-out .5s;
}

.product-card:hover {
      border: 6px solid #726e5c;
      background-color: #fff;
}

.select-options {
      display: flex;
      justify-content: space-between;
      align-items: center;
}

.select-color {
      display: flex;
      justify-content: space-between;
      align-items: center;
}

.color {
      width: 30px;
      height: 30px;
      border-radius: 50%;
      border: none;
      margin-right: 10px;
}

.color1 {
      background-color: green;
}

.color2 {
      background-color: blue;
}

.color3 {
      background-color: #333;
}

.product-image {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
}

.product-labels {
      width: 90%;
      display: flex;
      justify-content: space-between;
      position: absolute;
      bottom: 0;
}


/* ABOUT SECTION */
.about {
      width: 100%;
      background-image: url("images/backgrounds/about.jpg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      position: relative;
}

.about-wrapper {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
}
















/* RESPONSIVE MEDIA QUERIES */

@media screen and (max-width: 468px) {

      .header {
            background-position: top;
            background-size: auto;
      }
      
      .nav {
            background-color: #333;
            opacity: .7;
            width: 100%;
            padding: 20px 20px;
      }

      .logo img{
            width: 120px;
            height: auto;
      }

      .hero-intro {
            font-size: 32px;
      }

      .hero-content {
            font-size: 18px;
            width: 300px;
      }

      .form-filter {
            padding: 10px 0px;
      }

      .filter-wrapper {
            display: block;
            align-items: center;
            text-align: center;
      }

      .input {
            margin-right: 20px;
            font-size: 18px;
            font-weight: 500;
      }

      fieldset {
            margin-bottom: 30px;
      }

      .filter-btn {
            padding: 10px 20px;
            font-size: 18px;
      }

      .button {
            width: 450px;
            margin: 0 auto;
      }
}


